node_modules
.next
.env.example
.env.local
.env*.local
HA_Monitoring_Local.txt
HA_Etape2_PostgreSQL_Primaire.md
HA_Etape1_ProblèmesEtSolutions.txt
HA_Etape4_Sauvegarde_ProblèmesEtSolutions.txt
DOCKER_GUIDE_REDACTION.txt
DOCKER_GUIDE.txt
CLAUDE.md